database:
  args: "upgrade"

image:
  repository: public.ecr.aws/cds-snc/notify-api
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

ttlSecondsAfterFinished: 34560

serviceAccount:
  create: true
  serviceAccountName: "notify-api"

nodeSelector:
  eks.amazonaws.com/capacityType: ON_DEMAND
