  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 30
    metrics:
    - resource:
        name: cpu
        target:
          averageUtilization: 50
          type: Utilization
      type: Resource
    behavior:
      scaleUp:
        stabilizationWindowSeconds: 0
        policies:
        - type: Pods
          value: 6
          periodSeconds: 45
        selectPolicy: Max