region: ca-central-1
iamRoleArn: arn:aws:iam::{{ requiredEnv "AWS_ACCOUNT_ID" }}:role/notification-canada-ca-{{ .Environment.Name }}-external-secrets-role

serviceAccountRef:
  name: external-secrets
  namespace: external-secrets
