apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "admin.fullname" . }}
  labels:
    app: {{ include "admin.name" . }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  priorityClassName: {{ .Values.priorityClassName }}
  strategy:
    {{ toYaml .Values.updateStrategy | nindent 4 }}
  selector:
    matchLabels:
      app: {{ include "admin.name" . }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ include "admin.name" . }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "admin.serviceAccountName" . }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: init-postgres
          image: alpine
          command:
            [
              "sh",
              "-c",
              "URL=\"$API_HOST_NAME\"; HOST=$(echo $URL | sed -E 's#^https?://##' | cut -d: -f1); PORT=$(echo $URL | grep -oE ':[0-9]+$' | tr -d ':'); if [ -z \"$PORT\" ]; then if echo $URL | grep -q '^https://'; then PORT=443; else PORT=80; fi; fi; until nc -z -w 2 $HOST $PORT; do echo waiting for api; sleep 2; done"
            ]
          env:
            - name: API_HOST_NAME
              value: {{ .Values.admin.API_HOST_NAME | quote }}            
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            # Includes common ENV Variables
            {{- range $key, $val := .Values.admin }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
            # Includes secret ENV Variables
            {{- range $key, $val := .Values.adminSecrets }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: notify-admin
                  key: {{ $key }}
            {{- end }}
            - name: STATSD_HOST
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          {{ if .Values.secretProviderClass.enabled}}    
          volumeMounts:
            - name: secrets-store-inline
              mountPath: "/mnt/secrets-store"
              readOnly: true          
          {{ end }}   
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - sleep {{ .Values.lifecycle.preStop.sleepSeconds | quote }}
          readinessProbe:
            httpGet:
              path: /_status?simple=true
              port: 6012
            initialDelaySeconds: 10
            periodSeconds: 3
            timeoutSeconds: 1
            successThreshold: 3
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: "/_status?simple=true"
              port: 6012
            initialDelaySeconds: 30
            periodSeconds: 3
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{ if .Values.secretProviderClass.enabled}}    
      volumes:
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ include "admin.fullname" . }}
      {{ end }}                   
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
