apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: {{ .Values.nodePool.name}}
  annotations:
    kubernetes.io/description: "NodePool for provisioning spot capacity"
spec:
  template:
    disruption:
      consolidationPolicy: WhenEmpty
      consolidateAfter: 30m
      expireAfter: 24h
      budgets:
        - nodes: 10%
    spec:
      requirements:
        - key: karpenter.sh/capacity-type
          operator: In
          values: {{ .Values.nodePool.capacityTypes }}
        - key: kubernetes.io/arch
          operator: In
          values: ["amd64"]
        - key: kubernetes.io/os
          operator: In
          values: ["linux"]
        - key: karpenter.k8s.aws/instance-category
          operator: In
          values: {{ .Values.nodePool.instanceCategories }}
        - key: karpenter.k8s.aws/instance-generation
          operator: Gt
          values: ["2"]
        - key: "karpenter.k8s.aws/instance-family"
          operator: In
          values: {{ .Values.nodePool.instanceFamily }}          
        - key: "karpenter.k8s.aws/instance-cpu"
          operator: In
          values: {{ .Values.nodePool.instanceCPU }}
        {{- if .Values.nodePool.excludeWorkloadTypeLabel }}
        # Prevent Karpenter from provisioning nodes with workload-type=signoz label
        # Those pods should use dedicated EKS managed node groups
        - key: "workload-type"
          operator: DoesNotExist
        {{- end }}
      {{ with .Values.startupTaints}}
      startupTaints:
        {{ toYaml . | nindent 8}}
      {{ end}}                                     
      nodeClassRef:
        group: karpenter.k8s.aws
        kind: EC2NodeClass
        name: {{ .Values.nodeClass.name}}
