env:
  - name: HASURA_GRAPHQL_DATABASE_URL
    value: {{ requiredEnv "SQLALCHEMY_DATABASE_WRITER_URI" }}
  - name: HASURA_GRAPHQL_ACCESS_KEY
    value: {{ requiredEnv "HASURA_ACCESS_KEY" }}
  - name: HASURA_GRAPHQL_ENABLE_TELEMETRY
    value: "false"
  - name: HASURA_GRAPHQL_ENABLED_LOG_TYPES
    value: "startup,http-log,webhook-log,websocket-log,query-log"