apiVersion: v1
kind: Secret
metadata:
  name: celery-image-pull-secret
  namespace: {{ .Release.Namespace }}
type:  kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: "{\"auths\":{\"https://index.docker.io/v1/\":{\"username\":\"{{ .Values.dockerhub.username }}\",\"password\":\"{{ .Values.dockerhub.pat }}\"}}}"
    
