serviceAccount:
  create: true
  name: notify-admin

replicaCount: 2

image:
  repository: public.ecr.aws/cds-snc/notify-admin
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 25%
    maxUnavailable: 25%  

priorityClassName: high-priority

terminationGracePeriodSeconds: 120

lifecycle:
  preStop:
    sleepSeconds: 25

readinessProbe:
  httpGet:
    path: "/_status?simple=true"
    port: 6012

livenessProbe:
  httpGet:
    path: "/_status?simple=true"
    port: 6012

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  enabled: true
  type: LoadBalancer
  port: 6012
  annotations: 
    service.beta.kubernetes.io/aws-load-balancer-internal: "true"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: 
  requests:
    cpu: "250m"
    memory: "700Mi"
  limits:
    cpu: "1200m"
    memory: "900Mi"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 3
  targetCPUUtilizationPercentage: 50

verticalPodAutoscaler:
  enabled: false
  # updateMode: Off (recommendations only), Initial (on pod creation), Auto (automatic updates)
  # Use "Off" or "Initial" when HPA is enabled to avoid conflicts
  updateMode: "Off"
  controlledResources:
    - cpu
    - memory
  minAllowed:
    cpu: "100m"
    memory: "256Mi"
  maxAllowed:
    cpu: "2000m"
    memory: "2Gi"

pdb:
  enabled: true
  minAvailable: "75%"

nodeSelector:  
  eks.amazonaws.com/capacityType: ON_DEMAND

targetGroupBinding:
  enabled: false
  targetGroupARN: ""

tolerations: []

affinity: {}

secretProviderClass:
  secretname: notify-admin
  enabled: true
  provider: aws
  parameters:
    objects: |
      - objectName: INTERNAL_DNS_KEY_BASE64
        objectType: "secretsmanager"
      - objectName: INTERNAL_DNS_CERT_BASE64
        objectType: "secretsmanager"

  secretObjects:
    - data:
      - key: tls.key
        objectName: INTERNAL_DNS_KEY_BASE64
      - key: tls.crt
        objectName: INTERNAL_DNS_CERT_BASE64
      secretName: nginx
      type: kubernetes.io/tls

dockerhub:
  username: "changeme"
  pat: "changeme"
