adminPassword: {{ requiredEnv "GRAFANA_PASSWORD" }}
persistence:
    enabled: true   
    storageClassName: gp2

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server:80