bases:
  - ../../base

resources:
  - cwagent-fluentd-quickstart.yaml
  - cwagent-configmap.yaml
  - notification-service-account.yaml
  - api-target-group.yaml
  - admin-target-group.yaml
  - document-download-api-target-group.yaml
  - documentation-target-group.yaml

images:
  - name: admin
    newName: public.ecr.aws/cds-snc/notify-admin:latest
  - name: api
    newName: public.ecr.aws/cds-snc/notify-api:latest
  - name: document-download-api
    newName: public.ecr.aws/cds-snc/notify-document-download-api:latest
  - name: documentation
    newName: public.ecr.aws/cds-snc/notify-documentation:latest

configMapGenerator:
- name: application-config
  env: .env

patches:
 - replica_count.yaml

vars:
- name: ADMIN_CLIENT_SECRET
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.ADMIN_CLIENT_SECRET
- name: ALLOW_HTML_SERVICE_IDS
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.ALLOW_HTML_SERVICE_IDS
- name: API_HOST_NAME
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.API_HOST_NAME
- name: ASSET_UPLOAD_BUCKET_NAME
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.ASSET_UPLOAD_BUCKET_NAME
- name: ASSET_DOMAIN
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.ASSET_DOMAIN
- name: AUTH_TOKENS
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.AUTH_TOKENS
- name: AWS_PINPOINT_REGION
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.AWS_PINPOINT_REGION
- name: AWS_REGION
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.AWS_REGION
- name: AWS_ROUTE53_ZONE
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.AWS_ROUTE53_ZONE
- name: AWS_SES_REGION
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.AWS_SES_REGION
- name: AWS_SES_SMTP
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.AWS_SES_SMTP
- name: AWS_SES_ACCESS_KEY
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.AWS_SES_ACCESS_KEY
- name: AWS_SES_SECRET_KEY
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.AWS_SES_SECRET_KEY
- name: BASE_DOMAIN
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.BASE_DOMAIN
- name: BULK_SEND_AWS_BUCKET
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.BULK_SEND_AWS_BUCKET
- name: BULK_SEND_TEST_SERVICE_ID
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.BULK_SEND_TEST_SERVICE_ID
- name: CONTACT_EMAIL
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.CONTACT_EMAIL
- name: CSV_UPLOAD_BUCKET_NAME
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.CSV_UPLOAD_BUCKET_NAME
- name: CLUSTER_NAME
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.CLUSTER_NAME
- name: DOCUMENTS_BUCKET
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.DOCUMENTS_BUCKET
- name: DANGEROUS_SALT
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.DANGEROUS_SALT
- name: ENVIRONMENT
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.ENVIRONMENT
- name: FF_SPIKE_SMS_DAILY_LIMIT
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.FF_SPIKE_SMS_DAILY_LIMIT
- name: FF_SMS_PARTS_UI
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.FF_SMS_PARTS_UI
- name: FIDO2_DOMAIN
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.FIDO2_DOMAIN
- name: FRESH_DESK_API_URL
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.FRESH_DESK_API_URL
- name: FRESH_DESK_API_KEY
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.FRESH_DESK_API_KEY
- name: FRESH_DESK_PRODUCT_ID
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.FRESH_DESK_PRODUCT_ID
- name: HASURA_ACCESS_KEY
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.HASURA_ACCESS_KEY
- name: HC_EN_SERVICE_ID
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.HC_EN_SERVICE_ID
- name: HC_FR_SERVICE_ID
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.HC_FR_SERVICE_ID
- name: MIXPANEL_PROJECT_TOKEN
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.MIXPANEL_PROJECT_TOKEN
- name: NEW_RELIC_LICENSE_KEY
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.NEW_RELIC_LICENSE_KEY
- name: NEW_RELIC_MONITOR_MODE
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.NEW_RELIC_MONITOR_MODE
- name: POSTGRES_HOST
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.POSTGRES_HOST
- name: POSTGRES_SQL
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.POSTGRES_SQL
- name: REDIS_URL
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.REDIS_URL
- name: REDIS_PUBLISH_URL
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.REDIS_PUBLISH_URL
- name: SCAN_FILES_DOCUMENTS_BUCKET
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SCAN_FILES_DOCUMENTS_BUCKET
- name: SECRET_KEY
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SECRET_KEY
- name: SENDGRID_API_KEY
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SENDGRID_API_KEY
- name: SENSITIVE_SERVICES
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SENSITIVE_SERVICES
- name: SQLALCHEMY_DATABASE_READER_URI
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SQLALCHEMY_DATABASE_READER_URI
- name: SQLALCHEMY_POOL_SIZE
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SQLALCHEMY_POOL_SIZE
- name: TWILIO_ACCOUNT_SID
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.TWILIO_ACCOUNT_SID
- name: TWILIO_AUTH_TOKEN
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.TWILIO_AUTH_TOKEN
- name: TWILIO_FROM_NUMBER
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.TWILIO_FROM_NUMBER
- name: SENTRY_URL
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SENTRY_URL
- name: EXTRA_MIME_TYPES
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.EXTRA_MIME_TYPES
- name: IP_GEOLOCATE_SERVICE
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.IP_GEOLOCATE_SERVICE
- name: ZENDESK_SELL_API_URL
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.ZENDESK_SELL_API_URL
- name: ZENDESK_SELL_API_KEY
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.ZENDESK_SELL_API_KEY
- name: ZENDESK_API_URL
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.ZENDESK_API_URL
- name: ZENDESK_API_KEY
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.ZENDESK_API_KEY
- name: AWS_US_TOLL_FREE_NUMBER
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.AWS_US_TOLL_FREE_NUMBER
- name: BATCH_INSERTION_CHUNK_SIZE
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.BATCH_INSERTION_CHUNK_SIZE
- name: GC_ARTICLES_API
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.GC_ARTICLES_API
- name: GC_ARTICLES_API_AUTH_USERNAME
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.GC_ARTICLES_API_AUTH_USERNAME
- name: GC_ARTICLES_API_AUTH_PASSWORD
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.GC_ARTICLES_API_AUTH_PASSWORD
- name: WAF_SECRET
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.WAF_SECRET
- name: CRM_GITHUB_PERSONAL_ACCESS_TOKEN
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.CRM_GITHUB_PERSONAL_ACCESS_TOKEN
- name: CRM_ORG_LIST_URL
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.CRM_ORG_LIST_URL
- name: FF_SALESFORCE_CONTACT
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.FF_SALESFORCE_CONTACT
- name: SALESFORCE_USERNAME
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SALESFORCE_USERNAME
- name: SALESFORCE_PASSWORD
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SALESFORCE_PASSWORD
- name: SALESFORCE_SECURITY_TOKEN
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SALESFORCE_SECURITY_TOKEN
- name: SALESFORCE_DOMAIN
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SALESFORCE_DOMAIN
- name: SALESFORCE_ENGAGEMENT_PRODUCT_ID
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SALESFORCE_ENGAGEMENT_PRODUCT_ID
- name: SALESFORCE_ENGAGEMENT_RECORD_TYPE
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SALESFORCE_ENGAGEMENT_RECORD_TYPE
- name: SALESFORCE_ENGAGEMENT_STANDARD_PRICEBOOK_ID
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SALESFORCE_ENGAGEMENT_STANDARD_PRICEBOOK_ID
- name: SALESFORCE_GENERIC_ACCOUNT_ID
  objref:
    kind: ConfigMap
    name: application-config
    apiVersion: v1
  fieldref:
    fieldpath: data.SALESFORCE_GENERIC_ACCOUNT_ID
