replicaCount: 1

image:
  repository:  public.ecr.aws/cds-snc/notify-document-download-api
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: notify-document-download

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}

service:
  enabled: true
  type: LoadBalancer
  port: 7000
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-internal: "true"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources:
  requests:
    cpu: "100m"
    memory: "400Mi"
  limits:
    cpu: "400m"
    memory: "800Mi"

livenessProbe:
  initialDelaySeconds: 30
  httpGet:
    path: /_status
    port: 7000

readinessProbe:
  initialDelaySeconds: 30
  httpGet:
    path: /_status
    port: 7000

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage: 35

verticalPodAutoscaler:
  enabled: false
  # updateMode: Off (recommendations only), Initial (on pod creation), Auto (automatic updates)
  # Use "Off" or "Initial" when HPA is enabled to avoid conflicts
  updateMode: "Off"
  controlledResources:
    - cpu
    - memory
  minAllowed:
    cpu: "50m"
    memory: "128Mi"
  maxAllowed:
    cpu: "1000m"
    memory: "1Gi"

targetGroupBinding:
  enabled: false
  targetGroupARN: ""

pdb:
  enabled: true
  minAvailable: 1

nodeSelector:
  eks.amazonaws.com/capacityType: ON_DEMAND

tolerations: []

affinity: {}

secretProviderClass:
  secretname: document-download
  enabled: true
  provider: aws
  parameters:
    objects: |
      - objectName: INTERNAL_DNS_KEY_BASE64
        objectType: "secretsmanager"
      - objectName: INTERNAL_DNS_CERT_BASE64
        objectType: "secretsmanager"

  secretObjects:
    - data:
        - key: tls.key
          objectName: INTERNAL_DNS_KEY_BASE64
        - key: tls.crt
          objectName: INTERNAL_DNS_CERT_BASE64
      secretName: nginx
      type: kubernetes.io/tls

dockerhub:
  username: "changeme"
  pat: "changeme"      