crds:
    enabled: true

startupapicheck:
  enabled: false

webhook:
  securePort: 10260
  extraArgs:
    - --dynamic-serving-dns-names=cert-manager-webhook,cert-manager-webhook.cert-manager,cert-manager-webhook.cert-manager.svc,cert-manager-webhook.cert-manager.svc.cluster.local