serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::{{ requiredEnv "AWS_ACCOUNT_ID" }}:role/notification-canada-ca-{{ .Environment.Name }}-external-secrets-role

webhook:
  port: 10260
