githubConfigSecret: github-arc
githubConfigUrl: https://github.com/cds-snc/notification-manifests
maxRunners: 20
controllerServiceAccount:
   namespace: github-arc-controller
   name: github-arc-gha-rs-controller
containerMode:
  type: dind
template:
  spec:
    containers:
    - name: runner
      command: 
        - /home/runner/run.sh
      image: {{ requiredEnv "GITHUB_ARC_RUNNER_REPOSITORY_URL" }}:{{ env "DOCKER_TAG" | default "latest" }}
      imagePullPolicy: Always
