clusterName: notification-canada-ca-{{ .Environment.Name }}-eks-cluster
clusterEndpoint: https://961D0B7D48CC10A601A4B2CABBB0622D.gr7.ca-central-1.eks.amazonaws.com
aws:
  defaultInstanceProfile: KarpenterNodeInstanceProfile-karpenter-controller-eks
serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::800095993820:role/karpenter-controller-eks