serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::{{ requiredEnv "AWS_ACCOUNT_ID" }}:role/karpenter-controller-eks
                                
settings:
  clusterName: notification-canada-ca-{{ .Environment.Name }}-eks-cluster

nodeSelector:  
  eks.amazonaws.com/capacityType: ON_DEMAND

nodeClass:
  amiId: {{ requiredEnv "EKS_KARPENTER_AMI_ID" }}
