controller:
  image:
    tag: 3.4.2
  service:
    type: ClusterIP
  wildcardTLS:
    secret: {{.Release.Namespace}}/nginx
  defaultTLS:
    secret: {{.Release.Namespace}}/nginx
prometheus:
  create: false
externalSecret:
  enabled: true
  secretname: nginx
  secrettype: kubernetes.io/tls
  secrets:
    tls.key: INTERNAL_DNS_KEY_BASE64
    tls.crt: INTERNAL_DNS_CERT_BASE64

targetGroupBinding:
  enabled: true
  targetGroupARN: {{ requiredEnv "NGINX_TARGET_GROUP_ARN" }}


