configuration:
  daemonsets:
    - name: aws-cloudwatch-agent
      namespace: amazon-cloudwatch
    - name: efs-csi-node
      namespace: kube-system
    - name: fb-agent-fluent-bit
      namespace: amazon-cloudwatch
    - name: secrets-store-csi-driver
      namespace: kube-system
