linux:
  priorityClassName: high-priority
  # Allow CSI driver to run on all nodes, including dedicated SigNoz nodes
  tolerations:
    - operator: Exists
syncSecret:
  enabled: true  
enableSecretRotation: true  