region: ca-central-1

serviceAccountRef:
  name: external-secrets
  namespace: external-secrets

# The cluster-wide ClusterSecretStore is already created by the notify-secrets release
clusterSecretStore:
  enabled: false

externalSecret:
  enabled: true
  secretname: signoz
  secrets:
    SIGNOZ_EMAIL_SMTP_AUTH_USERNAME: MANIFEST_SIGNOZ_SMTP_USERNAME
    SIGNOZ_EMAIL_SMTP_AUTH_PASSWORD: MANIFEST_SIGNOZ_SMTP_PASSWORD
    SIGNOZ_POSTGRES_PASSWORD: MANIFEST_SIGNOZ_POSTGRES_PASSWORD
    SIGNOZ_DASHBOARD_API_KEY: MANIFEST_SIGNOZ_DASHBOARD_API_KEY
