priorityClassName: system-node-critical
global:
  cloud: aws
  clusterName: notification-canada-ca-{{ .Environment.Name }}-eks-cluster
  deploymentEnvironment: {{ .Environment.Name }}
  storageClass: notify
otelCollectorEndpoint: signoz-otel-collector:4317
otelInsecure: true
presets:
  otlpExporter:
    enabled: true
  loggingExporter:
    enabled: false
  resourceDetection:
    detectors:
      - eks
      - system
