storageClasses:
  - name: notify
    defaultClass: true
    annotations: {}
    provisioner: efs.csi.aws.com
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: false
    parameters:
      provisioningMode: efs-ap
      fileSystemId: {{ requiredEnv "EFS_FILE_SYSTEM_ID" }}
      directoryPerms: "700"
    mountOptions: []
