name: Dev - Deploy dev branch images

on:
  repository_dispatch:
    types: [deploy-dev-branch-images]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  HELMFILE_FILE_PATH: ${{ github.workspace }}/helmfile
  DEV_AWS_ACCOUNT: ${{ secrets.DEV_AWS_ACCOUNT_ID }}
  ACCOUNT_ID: ${{ secrets.DEV_AWS_ACCOUNT_ID }}
  AWS_DEFAULT_REGION: ca-central-1

permissions:
  id-token: write
  contents: read

jobs:
  deploy-dev-images:
    runs-on: ubuntu-latest
    steps:
      - name: Inject token authentication
        run: |
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"

      - name: Configure credentials to Notify dev using OIDC
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          role-to-assume: arn:aws:iam::${{ env.ACCOUNT_ID }}:role/notification-manifests-apply
          role-session-name: NotifyManifestsApplyDev
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Checkout manifests repo
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          ref: dev
          fetch-depth: 0

      - name: Setup helmfile
        uses: mamezou-tech/setup-helmfile@fd46979d2984c886929c416fbdf859b1c5efa0ea # v2.1.0
        with:
          install-kubectl: yes
          install-helm: yes
          helmfile-version: "v0.151.0"
          helm-s3-plugin-version: "v0.16.2"

      - name: Install OpenVPN
        run: |
          sudo apt update
          sudo apt install -y openvpn openvpn-systemd-resolved

      - name: Retrieve VPN Config
        run: |
          scripts/createVPNConfig.sh dev 2> /dev/null

      - name: Connect to VPN
        uses: "kota65535/github-openvpn-connect-action@cd2ed8a90cc7b060dc4e001143e811b5f7ea0af5" # v3.1.0
        with:
          config_file: /var/tmp/dev.ovpn
          echo_config: false

      - name: Configure kubeconfig
        run: |
          aws eks update-kubeconfig --name notification-canada-ca-dev-eks-cluster --alias dev

      - name: Load Context Variables
        run: |
          ./helmfile/getContext.sh -g

      - name: Run Database Upgrade Helmfile Sync
        uses: ./.github/actions/db-migration
        with:
          environment: "dev"
          namespace: "notification-canada-ca"
          app_label: "notify-database"
          timeout: "400s"

      - name: Helmfile apply for dev images
        run: |
          pushd helmfile
          helmfile --environment dev -l 'tier=crd' apply
          helmfile --environment dev -l 'app!=notify-database,tier!=crd' apply
          popd

      # Optionally, force lambda to pick up latest dev image tag if needed
      # - name: Force api-lambda-dev to redeploy
      #   uses: ./.github/actions/update-lambda-function
      #   with:
      #     alias-name: latest
      #     function-name: api-lambda-dev
