name: Staging - Helmfile Apply Individual
run-name: Staging - Helmfile Apply Individual ${{ github.event.inputs.app }} - ${{ github.event.inputs.tag }}
on:
  workflow_dispatch:
    inputs:
      app:
        description: 'Application to rollout'
        required: true
      selector:
        description: 'Selector for helmfile'
        required: true
      tag:
        description: 'Tag to rollout'
        default: 'latest'
        required: false
  repository_dispatch:
    types: [webhook]
    inputs:
      app:
        description: 'Application to rollout'
        required: true
      selector:
        description: 'Selector for helmfile'
        required: true        
      tag:
        description: 'Tag to rollout'
        default: 'latest'
        required: false

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  HELMFILE_FILE_PATH: ${{ github.workspace }}/helmfile
  DOCKER_TAG: ${{ github.event.inputs.tag }}
  OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN_STAGING }}

jobs:
  rollout:
    runs-on: ubuntu-latest
    name: Rollout on EKS
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@5fd3084fc36e372ff1fff382a39b10d03659f355 # v2.2.0
        id: awsconfig
        with:
          aws-access-key-id: ${{ secrets.STAGING_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.STAGING_AWS_SECRET_ACCESS_KEY }}
          aws-region: ca-central-1

      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          # Fetches entire history, so we can analyze commits since last tag
          fetch-depth: 0

      - name: Setup helmfile
        uses: mamezou-tech/setup-helmfile@c04e83ec7650bf2ec910864bcb409479cf56d8e6 # v2.2.0
        with:
          install-kubectl: yes
          install-helm: yes
          helmfile-version: "v0.151.0"
          helm-s3-plugin-version: "v0.16.2"

      - name: Install OpenVPN
        run: |
          sudo apt update
          sudo apt install -y openvpn openvpn-systemd-resolved

      - name: Setup Terraform tools
        uses: cds-snc/terraform-tools-setup@5a19984bcb888600ad646e0caf5c6f4d0a54c165 # v1.2.0
        env: # In case you want to override default versions
          CONFTEST_VERSION: 0.30.0 
          TERRAFORM_VERSION: 1.9.5
          TERRAGRUNT_VERSION: 0.66.9
          TF_SUMMARIZE_VERSION: 0.2.3                                  

      - name: Install 1Pass CLI
        run: |
          curl -o 1pass.deb https://downloads.1password.com/linux/debian/amd64/stable/1password-cli-amd64-latest.deb
          sudo dpkg -i 1pass.deb 

      - name: Retrieve VPN Config
        run: |
          scripts/createVPNConfig.sh staging 2> /dev/null     

      - name: Connect to VPN
        uses: "kota65535/github-openvpn-connect-action@cd2ed8a90cc7b060dc4e001143e811b5f7ea0af5" # v3.1.0
        with:
          config_file: /var/tmp/staging.ovpn
          echo_config: false                  

      - name: Configure kubeconfig
        run: |
          aws eks update-kubeconfig --name notification-canada-ca-staging-eks-cluster --alias staging   

      - name: Load EnvVars
        run: |
            ./helmfile/getContext.sh -g

      - name: Run helmfile
        id: helmfile_apply
        run: |
          pushd helmfile
          helmfile --environment staging -l ${{ github.event.inputs.selector }} apply
          popd

      - name: Notify Slack channel if this job failed
        if: ${{ failure() }}
        run: |
          json='{"text":"<!here> Staging - ${{ github.event.inputs.app }} - ${{ github.event.inputs.tag }} Kubernetes Rollout is failing in <https://github.com/cds-snc/notification-manifests/actions/runs/'${{ github.run_id }}'|notification-manifests> !"}'
          curl -X POST -H 'Content-type: application/json' --data "$json"  ${{ secrets.SLACK_WEBHOOK }}
