name: "Staging smoke test"

on:
  push:
    branches:
      - "release-*"
  schedule:
    - cron: "0 3,6,9,12,15,18,21 * * *"
  workflow_dispatch:  # Enables manual triggering
defaults:
  run:
    shell: bash

env:
  ACCOUNT_ID: ${{ secrets.STAGING_AWS_ACCOUNT_ID }}
  AWS_DEFAULT_REGION: ca-central-1

permissions:
  id-token: write # This is required for requesting the OIDC JWT
  contents: write # This is required for actions/checkout
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install libcurl
        run: sudo apt-get update && sudo apt-get install libssl-dev libcurl4-openssl-dev

      - name: Checkout api
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          repository: cds-snc/notification-api

      - name: Set up Python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4.9.1
        with:
          python-version: "3.12"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Get packages from cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.local
          key: poetry-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ runner.os }}-${{ env.PYTHON_VERSION }}-

      - name: Install poetry
        env:
          POETRY_VERSION: "1.3.2"
        run: pip install poetry==${POETRY_VERSION} && poetry --version

      - name: Install requirements
        run: poetry install

      - name: Configure credentials to Notify using OIDC
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          role-to-assume: arn:aws:iam::${{env.ACCOUNT_ID}}:role/notification-manifests-apply
          role-session-name: NotifyManifestsApply
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Run smoke tests on staging
        env:
          SMOKE_ADMIN_CLIENT_SECRET: ${{ secrets.STAGING_SMOKE_ADMIN_CLIENT_SECRET}}
          SMOKE_API_KEY: ${{ secrets.STAGING_SMOKE_API_KEY}}
          SMOKE_API_HOST_NAME: https://api.staging.notification.cdssandbox.xyz
          SMOKE_CSV_UPLOAD_BUCKET_NAME: notification-canada-ca-staging-csv-upload
          SMOKE_EMAIL_TEMPLATE_ID: 9544dc32-9d23-4bdd-a8d8-81b4ec9e0485
          SMOKE_EMAIL_TO: success@simulator.amazonses.com
          SMOKE_SMS_TO: 16135550123
          SMOKE_SERVICE_ID: f316aa6b-38dd-4d9e-83f8-b6ee3e1d428f
          SMOKE_SMS_TEMPLATE_ID: d8234b4d-4def-4ad6-aafe-526a24ee5f19
          SMOKE_USER_ID: e5584221-2384-46d3-8184-c5449da10bc1
          SMOKE_POLL_TIMEOUT: 450
        run: poetry run make smoke-test
      - name: Notify Slack channel if this job failed
        if: ${{ failure() }}
        run: |
          json='{"text":"<!here> Staging smoke tests failed: <https://github.com/cds-snc/notification-manifests/|notification-manifests> !"}'
          curl -X POST -H 'Content-type: application/json' --data "$json"  ${{ secrets.SLACK_WEBHOOK }}
